* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header,
footer,
section,
div {
    box-sizing: border-box;

}

section {
    padding-left: 390px;
    padding-right: 390px;
    margin-bottom: 60px;
}

header {
    margin-left: 390px;
    margin-right: 390px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    /* background-color: bisque; */
}

header nav {
    float: right;
    font-size: 12px;
}

header nav p {
    display: inline;
    margin-right: 27px;
}

header img {
    float: left;
}

/* баннер */
.banner {
    background-image: url(img/баннер.jpg);
    background-size:100% 100%;
    opacity:0.9;
    height: 877px;
    text-align: center;
    padding-top: 300px;
    color: white;
}

.banner h1 {
    font-size: 56px;
    margin-bottom: 40px;
}

.banner p {
    /* width: 740px; */
    font-size: 24px;
    margin-bottom: 65px;
}

input {
    width: 133px;
    height: 35px;
    /* top: 536px;
    left: 894px; */
    border-radius: 10px;
    border: none;

}

/* о нас */
.about {
    height: 260px;
}

.about h1 {
    margin-bottom: 50px;
}

.about p {
    font-size: 20px;
}

/* каталог */
.catalog {
    background-color: #EEF2E3;
    padding-bottom: 70px;
}

.cataloghead {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.cataloghead nav p {
    display: inline;
    /* float: right; */
    border-radius: 15px;
    padding: 8px;
}

.cataloghead h1 {
    margin-bottom: 50px;
}

.cataloghead nav p:first-child {
    background-color: #FF9900;
    color: white;
}

.elements {
    display: flex;
    justify-content: space-between;
}

.elem {
    width: 260px;
    height: 380px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.19);
    padding: 10px;
}

.elem p:first-child {
    background-color: #FF9900;
    width: 85px;
}

/* полезная инфа */
h1{
    margin-bottom: 50px;
}
/* footer */
footer{
    background-color: #EEF2E3;
    padding-left: 390px;
    padding-right: 390px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 500px 160px 155px 155px;
    column-gap: auto;
    row-gap: 50px;
    font-size: 14px;
    padding-top: 75px;
    padding-bottom: 75px;
    color: #8191A6;
}
footer h2{
    text-transform: uppercase ;
    font-size: 16px;
    margin-bottom: 10px;
}
footer li{
    list-style-type: none;
    margin-bottom: 10px;
}

footer p:first-child 
.copyright 
.mygiro 
.pokup 
.help