
body {
    background-image: url(img/1666789884_4-mykaleidoscope-ru-p-pol-v-kletku-pinterest-5.jpg);
    height: 100%
}

html {
    height: 100%;
    
}

.wrapper {
    height: 100%;
    background-color: rgb(0, 0, 0, 0.95);
    margin: 10px 300px;
    padding: 15px 100px;
    font-family: 'Courier New', Courier, monospace;
    
}

header {
    margin: 0px 300px;
    text-align: center;
    background: rgb(194, 104, 94);
    height: 120px;
    padding: 10px 10px;

}

main {
    color: antiquewhite;
    /* display: inline-flex;
    flex-direction: row */
}