*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    width: 1030px;
    border: rgb(224, 224, 224) 1px solid;
    margin: 0 auto;
    /* padding: 0 200px; */
    box-sizing: border-box;
}
header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
header img{
    height: 40px;
    margin-left:40px;
    
}
nav{
    float:right;
    
}
nav p{
    display: inline;
    margin-right: 27px;
}
h2{
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;

}
section{
    margin-bottom: 40px;
}
.banner{
    margin-bottom: 50px;
}

/* Бренды */
.brands{
    display: flex;
    justify-content: space-between;
}
.brnd{
    width: 155px;
    height: 155px;
    
}
/* Часы */
.clocks{
    display: flex;
    justify-content: space-between;
}
.clks{
    border: 1px grey solid;
    border-radius: 13px;
    width: 233px;
    height: 330px;
    text-align: center;
    padding-top: 12px;
    font-size: 20px;
}
.clks img{
  margin-bottom: 12px;
}

.clks p span{
    color: red;
}

/* подписка */
.subscription{
    background-color: #630000;
    color:aliceblue;
    height: 274px;
    padding: 70px 20px 20px 40px;
    box-sizing: border-box;
}
.subscription h2{
    text-align: start;
}
input{
    height: 45px;
    width: 280px;
    border-radius: 7px;
    border: 1px solid white;
    padding-left: 10px;
    margin-right: 20px;
}
input[type="submit"]{
    background-color: #630000;
    color: white;
    font-weight: bold;
    font-size: 14pt;
}
.subscription p{
    margin-bottom: 15px;
}

/* контакты */
.kontakty{
    height: 280px;
    padding-left: 40px;
}
/* footer */
footer{
    background: black;
    color:white;
    text-align: center;
    height: 80px;
    padding-top: 25px;
    font-size: 15pt;
    box-sizing: border-box;
}


